@font-face {
    font-family: "digital";
    src: url(fonts/disposabledroid-bb.regular.ttf) format("truetype");
}

html, body {
    padding: 0;
    margin: 0;
    width: 800px;
}

body {
    /*background: url(./bg.png);*/
    background-size: cover;
    background-repeat: no-repeat;
}

* {
    box-sizing: border-box;
}

.info {
    padding: 8px 16px;
    text-align: right;
    width: 100%;
    background-color: #1a1a1a;
    color: #a1a1a1;
    font-family: monospace;
    /*display: none;*/
}

.screen {
    padding: 16px 0;
    background-color: black;
    width: 100%;
    height: 130px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;
    color: #3cf78a;
    font-family: digital;
    font-size: 84px;
    font-weight: 100;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom-right-radius: 4px;
}

.left-panel {
    width: 600px;
    float: left;
}

.panel {
    padding: 36px 88px;
}

.input-panel {
    width: 165px;
    /*height: 100%;*/
    float: right;
    padding: 12px;
    background-color: #1f1f1f;
    height: 260px;
    margin: 12px 16px;
    border-radius: 8px;
}

.input-voltage {
    height: 42px;
    width: 42px;
    border-radius: 42px;
    display: inline-block;
    margin: 13px;
    background-color: grey;
}

.input-voltage.positive {
    border: 6px solid #cf0101;
}

.input-voltage.negative {
    border: 6px solid #dddddd;
}

.input-voltage.invisible {
    visibility: hidden;
}

body {
    background-color: #303030;
}

button {
    width: 50px;
    padding: 8px 0px;
    margin-right: 16px;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 12px;
    background-color: #242424;
    border-radius: 4px;
    border: 1px solid #ffffff;
    outline: none;
    color: white;
    text-transform: uppercase;
}

button:hover {
    cursor: pointer;
    background-color: #3a3a3a;
}

.blue-button {
    color: black;
    background-color: #0099ff;
}

.blue-button:hover {
    cursor: pointer;
    background-color: #0679c5;
}
